<!DOCTYPE html>
<html lang="en">
<head>

  <title>Simple Ping Agent List</title>
  {{template "head" .}}

</head>
<body class="hold-transition sidebar-mini">

  {{template "body-base" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Agent List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Agent List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {{template "body-end"}}

  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">
                    Group Edit
                </h4>
              <button class="btn btn-primary btn-lg" onClick="AddGroupIPChild()">
                  Add IP
              </button>

            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
              <div id="target">
              </div>
                <button type="button" class="btn btn-primary" onClick="AddIpGroupRequest()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<!-- Page specific script -->
<script>

// Create table with data set
  var table=$('#example1').DataTable( {
      "columns": [
          { "title": "Agent Name" },
          { "title": "Status" },
          { "title": "Jobs" },
          { "title": "Edit" },
      ]
  } );


  agents = $.ajax({type: "GET", url: "/v1/agent", async: false}).responseJSON;

  for (var i=0,len=agents.length; i<len; i++) {
    var status = $.ajax({type: "GET", url: "/v1/agent/" + agents[i], async: false}).responseText;
    var jobs = $.ajax({type: "GET", url: "/v1/agent/" + agents[i] + "/job", async: false}).responseText;

    table.row.add([agents[i],status,jobs,'<button type="button" class="btn btn-primary" onClick=EditAgentModa("'+agents[i]+'") >  edit</button>']);
  };

  table.draw( false );

</script>

<script>
  function EditAgentModa(agentName) {
    $('#myModal1').modal('toggle');
    var jobStatus = $.ajax({type: "GET", url: "/v1/agent/" + agents[i] + "/job", async: false}).responseJSON;
    var jobList = JSON.parse($.ajax({type: "GET", url: "/v1/job", async: false}).responseJSON);



    var form = document.createElement("form");
        form.setAttribute("id", "editModa");

    for (var j=0,len=jobStatus.job.length; i<len; i++)

    var JobSelect = document.createElement("select");
    JobSelect.setAttribute("class", "form-control");
    JobSelect.setAttribute("name", "JobSelect");

    for (var i=0,len=jobList.length; i<len; i++) {
      var tmpSelect = document.createElement("option");
      tmpSelect.innerHTML=groups[i];
      JobSelect.appendChild(tmpSelect);
    };


  }
</script>

</body>
</html>
