<!DOCTYPE html>
<html lang="en">
<head>

  <title>Simple Ping Agent List</title>
  {{template "head" .}}

</head>
<body class="hold-transition sidebar-mini">

  {{template "body-base" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Agent List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Agent List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {{template "body-end"}}

  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">
                    Group Edit
                </h4>
              <button class="btn btn-primary btn-lg" onClick="AddModaListChild()">
                  Add Job
              </button>

            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
              <div id="target">
              </div>
                <button type="button" class="btn btn-primary" id=ModaRequestID onClick="ModaRequest()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<!-- Page specific script -->


<script>
  var ModaDelArray = new Array()

  // Create table with data set
  var table=$('#example1').DataTable( {
    "pageLength": 500,
    "columns": [
            { "title": "Agent Name" },
            { "title": "Status" },
            { "title": "Jobs" },
            { "title": "Edit" },
        ]
    } );


  DataTableDataUpdate()




function DataTableDataUpdate() {

    var table = $('#example1').DataTable();
 
    table
        .clear()
        .draw();

  agents = $.ajax({type: "GET", url: "/v1/agent", async: false}).responseJSON;

  for (var i=0,len=agents.length; i<len; i++) {
    var status = $.ajax({type: "GET", url: "/v1/agent/" + agents[i], async: false}).responseText;
    var jobs = $.ajax({type: "GET", url: "/v1/agent/" + agents[i] + "/job", async: false}).responseText;

    table.row.add([agents[i],status,jobs,'<button type="button" class="btn btn-primary" onClick=EditAgentModa(\''+agents[i]+'\') >  edit</button>']);
  };

  table.draw( false );
}



  function EditAgentModa(agentName) {
    $('#myModal1').modal('toggle');
    ModaDelArray.length = 0

    document.getElementById("ModaRequestID").setAttribute("onClick", "ModaRequest('"+agentName+"')");

    var AgentJobs = $.ajax({type: "GET", url: "/v1/agent/" + agentName + "/job", async: false}).responseJSON;
    // var AgentJobs = JSON.parse(AgentJobsJson);

    var form = document.createElement("moda-form");
    form.setAttribute("id", "modalBodyFrom");

    for (var j=0,len=AgentJobs.length; j<len; j++) {
      var tmpli = document.createElement("li");
      tmpli.setAttribute("class", "input-group-append");

      // create del button
      var delButton = document.createElement("button");
      delButton.setAttribute("class", "input-group-text");
      delButton.innerHTML="del" ;

      var JobSelect = document.createElement("select");
      JobSelect.setAttribute("class", "form-control");
      JobSelect.setAttribute("name", "JobSelect");
      var tmpSelect = document.createElement("option");
      tmpSelect.innerHTML=AgentJobs[j];
      JobSelect.appendChild(tmpSelect);

      
      tmpli.appendChild(JobSelect)
      tmpli.appendChild(delButton)
      form.appendChild(tmpli);
    };


    if (document.getElementById("modalBodyFrom")) {
      document.getElementById("modalBody").removeChild(document.getElementById("modalBodyFrom"));
    }


    document.getElementById("modalBody").appendChild(form);

    $("moda-form").on("click", "button", function(e) {
      e.preventDefault();
      ModaDelArray.push( $(this).siblings("select").val());
      $(this).parent().remove();
    });


  }

  function AddModaListChild() {
    var jobList = $.ajax({type: "GET", url: "/v1/job", async: false}).responseJSON;
    // console.log(jobListJson);
    // var jobList = JSON.parse(jobListJson);
    var form = document.getElementById("modalBodyFrom");
    var tmpli = document.createElement("li");
    tmpli.setAttribute("class", "input-group-append");

    var delButton = document.createElement("button");
    delButton.setAttribute("class", "input-group-text");
    delButton.innerHTML="del";

    var jobModaSelect = document.createElement("select");
    jobModaSelect.setAttribute("class", "form-control");
    jobModaSelect.setAttribute("name", "JobSelect");

    for (var j=0,len=jobList.length; j<len; j++) {
      var tmpSelect = document.createElement("option");
      tmpSelect.innerHTML=jobList[j];
      jobModaSelect.appendChild(tmpSelect);
    };

    tmpli.appendChild(jobModaSelect);
    tmpli.appendChild(delButton);
    form.appendChild(tmpli);

  }

  $('#target').html('sending..');


  function ModaRequest(agentName) {
    var formInput = document.getElementsByName('JobSelect');

    for (var a = 0; a < ModaDelArray.length; a++) {
      var onInputData = false ;

      for (var i = 0; i < formInput.length; i++) {
        if ( formInput[i].value == ModaDelArray[a] ) {
          onInputData = true;
          break;
        }
      }

      if (onInputData) {
        continue;
      }


      $.ajax({
        url: '/v1/agent/'+agentName+ '/job/' + ModaDelArray[a],
        type: 'delete',
        // dataType: "json",  
        contentType: 'application/json',
        success: function (data) {
            $('#target').html(data);
        },
        error: function (data) {
            $('#target').html(data);
        },
      });


    }





    for (var i = 0; i < formInput.length; i++) {
      if ( formInput[i].value == "" ) {
        continue;
      }
      $.ajax({
        url: '/v1/agent/'+agentName+ '/job/' + formInput[i].value,
        type: 'post',
       // dataType: "json",  
        contentType: 'application/json',
        success: function (data) {
            $('#target').html(data);
        },
        error: function (data) {
            $('#target').html(data);
        },
    });

    }


    DataTableDataUpdate()

    $('#myModal1').modal('hide');
  }


</script>




<script>




</script>




</body>
</html>
