<!DOCTYPE html>
<html lang="en">
<head>

  <title>Simple Ping Agent List</title>
  {{template "head" .}}

</head>
<body class="hold-transition sidebar-mini">

  {{template "body-base" .}}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Job List</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Job List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
              <button class="btn btn-primary btn-lg" onclick="ModaEdit()">
                  Add Job
              </button>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {{template "body-end"}}


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">
                    Job Edit
                </h4>
              <button class="btn btn-primary btn-lg" onClick="ModeAddChild()">
                  Add Group
              </button>

            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
              <div id="target">
              </div>
                <button type="button" class="btn btn-primary" onClick="AddJobRequest()">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- modal script -->
<script>

  var ModaDelArray = new Array();

  // Create table with data set
  var table=$('#example1').DataTable( {
        "columns": [
            { "title": "Job Name" },
            { "title": "SPEC" },
            { "title": "PTTL" },
            { "title": "AllowedLoss" },
            { "title": "Group" },
            { "title": "Edit" },  

        ]
    } );

  DataTableDataUpdate();


  function DataTableDataUpdate() {

    table
        .clear()
        .draw();

    data1 = $.ajax({type: "GET", url: "/v1/job", async: false});

    jobs = data1.responseJSON;
    if (data1.status == 200) {
      for (var i=0,len=jobs.length; i<len; i++) {
        jobJson = $.ajax({type: "GET",dataType: "json", url: "/v1/job/" + jobs[i], async: false}).responseJSON; 
        jobData = JSON.parse(jobJson);
        table.row.add([jobs[i],jobData.name, jobData.pttl,jobData.allowedloss,jobData.group,'<button type="button" class="btn btn-primary" onClick=ModaEdit(\''+jobs[i]+'\') >  edit</button>']);
      };
    };

    table.draw( false );

  }


  function ModaEdit(objectName) {
    // init 
    ModaDelArray.length = 0
    $('#target').html("");
    if (typeof  objectName !== "undefined") {
      jobJson = $.ajax({type: "GET",dataType: "json", url: "/v1/job/" + objectName, async: false}).responseJSON; 
      jobData = JSON.parse(jobJson);
    }

    //手动切换模态框。   还有一个modal('hide')	手动隐藏模态框。
    $('#myModal1').modal('toggle');

    var form = document.createElement("moda-form");
    form.setAttribute("id", "job-list");

    var NameInput = document.createElement("input");
    NameInput.setAttribute("type", "text");
    NameInput.setAttribute("class", "form-control");
    NameInput.setAttribute("placeholder", "str: Job Name");
    NameInput.setAttribute("id", "jobName");
    if (typeof  objectName !== "undefined") {
      NameInput.setAttribute("value", jobData.name);
    }
    form.appendChild(NameInput); 

    var SPECInput = document.createElement("input");
    SPECInput.setAttribute("type", "text");
    SPECInput.setAttribute("class", "form-control");
    SPECInput.setAttribute("placeholder", "str: * * * * * */秒 分 时 日 月 星");
    SPECInput.setAttribute("id", "SPEC");
    if (typeof  objectName !== "undefined") {
      SPECInput.setAttribute("value", jobData.spec);
    }
    form.appendChild(SPECInput); 

    var PTTLInput = document.createElement("input");
    PTTLInput.setAttribute("type", "text");
    PTTLInput.setAttribute("class", "form-control");
    PTTLInput.setAttribute("placeholder", "int: Key time out Seconds");
    PTTLInput.setAttribute("id", "PTTL");
    if (typeof  objectName !== "undefined") {
      PTTLInput.setAttribute("value", jobData.pttl);
    }
    form.appendChild(PTTLInput); 

    var AllowedLossInput = document.createElement("input");
    AllowedLossInput.setAttribute("type", "text");
    AllowedLossInput.setAttribute("class", "form-control");
    AllowedLossInput.setAttribute("placeholder", "int: 在错误队列时允许掉包的数量");
    AllowedLossInput.setAttribute("id", "AllowedLoss" );
    if (typeof  objectName !== "undefined") {
      AllowedLossInput.setAttribute("value", jobData.allowedloss);
    }
    form.appendChild(AllowedLossInput); 

    var GroupStr = document.createElement("p");
    GroupStr.innerHTML  = "Group:"
    form.appendChild(GroupStr); 

    if (typeof  objectName !== "undefined") {
      for (var i=0,len=jobData.group.length; i<len; i++) {
        var existGroupInput = CreateChild(jobData.group[i]);

        form.appendChild(existGroupInput); 
      }

    }


    // var GroupInput = document.createElement("select");
    // GroupInput.setAttribute("class", "form-control");
    // GroupInput.setAttribute("name", "GroupArray");

    // data1 = $.ajax({type: "GET", url: "/v1/ip/group", async: false});

    // groups = data1.responseJSON;
    // if (data1.status == 200) {
    //   for (var i=0,len=groups.length; i<len; i++) {
    //     var tmpSelect = document.createElement("option");
    //     tmpSelect.innerHTML=groups[i];
    //     GroupInput.appendChild(tmpSelect);
    //   };
    // };

    // form.appendChild(GroupInput); 

    document.getElementById("modalBody").appendChild(form);


    if (document.getElementById("job-list")) {
      document.getElementById("modalBody").removeChild(document.getElementById("job-list"));
    }

    document.getElementById("modalBody").appendChild(form);
    $('[data-mask]').inputmask()

    $("moda-form").on("click", "button", function(e) {
      e.preventDefault();
      ModaDelArray.push( $(this).siblings("input").val());
      $(this).parent().remove();
    });

  }

  function CreateChild(group){
    var tmpli = document.createElement("li");
    tmpli.setAttribute("class", "input-group-append");

    var existGroupInput = document.createElement("select");
    existGroupInput.setAttribute("class", "form-control");
    existGroupInput.setAttribute("name", "GroupArray");

    if (typeof  group !== "undefined") { 
      var tmpSelect = document.createElement("option");
      tmpSelect.setAttribute("selected", "selected");
      tmpSelect.innerHTML=group;
      existGroupInput.appendChild(tmpSelect);
    }

    var groups = $.ajax({type: "GET", url: "/v1/ip/group", async: false}).responseJSON;
    for (var i=0,len=groups.length; i<len; i++) {
      var tmpSelect = document.createElement("option");
      tmpSelect.innerHTML=groups[i];
      existGroupInput.appendChild(tmpSelect);
    }

    tmpli.appendChild(existGroupInput);

    // create del button
    var delButton = document.createElement("button");
    delButton.setAttribute("class", "input-group-text");
    delButton.innerHTML="del" ;

    tmpli.appendChild(delButton); 
    return tmpli
}




// <!-- add IP script -->
    
function ModeAddChild() {

  // Create a form synamically
  var form = document.getElementById("job-list");

  // Create an input element for Full Name
  var ArrayInput = CreateChild()

  // Append the full name input to the form
  form.appendChild(ArrayInput); 

  // document.getElementById("ip-list").appendChild(form);
}

function AddJobRequest() {
    var input = document.getElementsByName('GroupArray');
    var dataList = new Array();
    for (var i = 0; i < input.length; i++) {
      if ( input[i].value == "" ) {
        continue;
      }
      dataList[i] = input[i].value
    }

    var person = {

        name: $("#jobName").val(),
        spec: $("#SPEC").val(),
        pttl: parseInt($("#PTTL").val()),
        allowedloss: parseInt($("#AllowedLoss").val()),
        group:  dataList,
    }

    $('#target').html('sending..');

    $.ajax({
        url: '/v1/job',
        type: 'post',
       // dataType: "json",  
        contentType: 'application/json',
        success: function (data) {
            $('#target').html(data.msg);
        },
        error: function (data) {
            $('#target').html(data.msg);
        },
        data: JSON.stringify(person)
    });


    $('#myModal1').modal('hide');
    DataTableDataUpdate();
}


</script>




<!-- Page specific script -->
<script>







</script>



</body>
</html>
